a ,nav{
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-size: 1 em;
  background-color: #333;
}

.logo{
  float: right;
  padding:0;
  margin: 0;
}
img{
  width: 26px;
  height: 26px;
}
.header{
  position:fixed;
  background-repeat: no-repeat;
  margin: 0;
  position: 0;
  min-width: 98.9%;
  min-height: 600px;
}