a ,nav{
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-size: 1 em;
  background-color: #333;
}
body{
  margin: 0;
  padding: 0;
}
.logo{
  float: right;
  padding:0;
  margin: 0;
}
.site-logo{
  width: 26px;
  height: 26px;
}
.header{
  
  margin: 0;
  position: 0;
  min-width: 100%;
  min-height: 600px;
}

.cover {
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height 600 px;
}