a ,nav{
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-size: 1 em;
  background-color: #333;
}
body{
  margin: 0;
  padding: 0;
}
.logo{
  float: right;
  padding:0;
  margin: 0;
}
.site-logo{
  width: 26px;
  height: 26px;
}
.header{
  margin: 0;
  position: 0;
  min-width: 100%;
}

.cover {
  background-color: green;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.messi{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-h1{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  color: white;
  font-size: 4em;
}