a ,nav{
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-size: 1 em;
  background-color: #333;
}

nav{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-image: url(/img/bg.jpg);
  background-size: cover;
}
.logo{
  float: right;
  padding:0;
  margin: 0;
  padding-right: 20px;
}
.site-logo{
  width: 26px;
  height: 26px;
}
.header{
  margin: 0;
  position: 0;
  min-width: 100%;
 
}

.cover {
  background-color: green;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.messi{
  padding-top: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-h1{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  color: white;
  font-size: 4em;
}

.title-h2{
  text-align: center;
  color: white;
  font-size: 2em;
}

.content{
 color: white; 
 font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 1.5em;
}
.messi-info{
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}
article{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}